[filter "lfs"]

[interactive]
	diffFilter = delta --color-only

[delta]
	side-by-side = true 
	line-numbers = true
	navigate = true
	light = false

[alias]
    lp = log -p
    ll = log --oneline
    new = checkout -b
    ri = rebase -i
    st = status
    cm = commit -m
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
